.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.margincenter{
  margin-right: 45%;
}
.imgsize{
  height:auto;
  max-width: 100%;
  max-height: auto;
  display:block;
  margin:auto;
}
.cartdetailimage{
  height:100px;
  width: auto;
  max-height:auto;
  max-width: 100%;
  display:block;
  overflow: hidden;
  object-fit: cover;
}
.starcolor{
  background-color: yellow;
}
.font_style{
font-weight:100;
font-size: xx-large;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn_style{
  width: 50%;
  max-width: 150%;
}
.qty_style1{
  color:green;
  font-size:30px;
  font-weight:500;
}
.qty_style2{
  color: red;
  font-size:30px;
  font-weight:500;
}
.cart_modal_imagesize{
  height:auto;
  max-width: 100%;
  display: block;
  max-height: auto;
  margin:auto;
}
.msg{
  padding-left: 50%;
}
.cstm_btn{
  width:200px;
}
@media (max-width: 767px) {
  .border-md-right {
    border-right: none !important;
  }
}
.cartimage{
  height:170px;
  width: auto;
  max-height:auto;
  max-width: 100%;
  display:block;
  overflow: hidden;
  object-fit: cover;
}

.full-width-banner {
  width: 100vw;
  overflow: hidden;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.banner-img {
  width: 100%;
  height: 25vh;
}

/* For larger screens */
@media (min-width: 768px) {
  .banner-img {
    height: 85vh;
  }
}
  body {
    margin: 0;
    overflow-x: hidden;
   
  }
section{
  padding : 50px 10%; 
}

.home{
  width: 100%;
  min-height: 90vh;
  background-image: url("C:/Users/mihir/OneDrive/Desktop/React - Projects/Saturn/saturn/src/images_banners/home banner.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: left;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.home-text{
  position:absolute; /* Allows positioning relative to the nearest positioned ancestor */
  right: 20px; /* Adjust this value to add some spacing from the right edge */
  top: 50%; /* Centers the text vertically */
  transform: translateY(-50%); /* Adjusts for the text height to perfectly center it vertically */
  text-align: left; /* Aligns the text content to the right */
}

.home-text h1{
  margin-left:auto;
  font-size: 2.7rem;
}

.home-text p{
  font-size: 0.938rem;
  margin:0.4rem 0.1.8rem;
}


@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }}

@media(max-width:768px){
  header{
    padding:11px 4%;
  }
  #menu-icon{
    display: initial;
  }
  .about{
    grid-template-columns: 1fr;
    text-align:center;
  }
  .about-img{
    padding-top: 1rem;
    order:2;
  }
}

@media(max-width:491px){
  .home-text h1{
    font-size:1.7rem;
  }
  .shop-container,
  .new-container{
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .box .box-img{
    height:300px;
  }
}

  
